*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #000;
    margin: 10px;
}

.logo {
    width: 250px;
    padding: 8px;
    margin: 30px;
}

.form{
    display: flex;
    flex-wrap: wrap;
    background-color: #d1d1d1;
    width: 100%;
    max-width: 300px;
    border-radius: 30px;
    padding: 40px 60px 20px 60px;
    text-align: left;
}


.form input, select{
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px;;
    margin-bottom: 30px;
    color: #af0f0f;
}


.form input[type="submit"]{
    background-color: #af0f0f;
    color: #ffffff;
}

.criar{
    margin-bottom: 20px;
    margin-right: 50px;

}

.button {
    background-color: #af0f0f; 
    border: none;
    color: white;
    padding: 15px 95px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    transition-duration: 0.4s;
  border: 1px solid rgb(255, 255, 255);
  
  }
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4c5baf; 
    color: white;
}